@using Uppfinaren_1._0.Models;
@model IEnumerable<Inventor>
@{
    ViewData["Title"] = "Inventor Gallery";
}
<div class="inventorsGrid">
    @foreach (Inventor inventor in Model)
    {
        <div class="inventorCard">
            <img src="@inventor.ImageUrl" alt="@inventor.Name" />
            <a asp-action="Info" asp-route-id="@inventor.Id" class="inventor-name">@inventor.Name</a>
            <div class="inventor-details">@inventor.Description</div>
        </div>
    }
</div>