@using Uppfinaren_1._0.Models;
@model IEnumerable<Artwork>
@{
    ViewData["Title"] = "Inventor Gallery";
}
<h1>Glorious inventions gallery</h1>
<div class="inventionGrid">
    @foreach (Artwork artwork in Model)
    {
        <div class="inventionCardWrapper">

            <a asp-action="Info" asp-route-id="@artwork.Id">@artwork.Title</a>
            <img src="@artwork.ImageUrl" alt="" "">
            <p>@artwork.Description</p>
            <p>Inventor: @artwork.Inventor</p>
        </div>
    }
</div>