@using Uppfinaren_1._0.Models;
@model IEnumerable<Artwork>
@{
    ViewData["Title"] = "Inventor Gallery";

}

<h1 style="font-size: 60px; padding: 0; margin:0"><a asp-action="Index" asp-route-category="@null">The gallery of inventions</a></h1>

<div class="inventionsHeader">
    @foreach (string cat in ViewBag.Categories)
    {
        <div class="inventionHeaderWrapper">
            @if(ViewBag.SelectedCategory != null && ViewBag.SelectedCategory == cat )
            {
            <span class="active">@cat</span>
            } 
            else 
            {
            <a asp-action="Index" asp-route-category="@cat">@cat</a>
            }
        </div>
    }
</div>


<div class="inventionGrid">
    @foreach (Artwork artwork in Model)
    {
        <div class="inventionCardWrapper">
            <a asp-action="Info" asp-route-id="@artwork.Id">@artwork.Title</a>
            <img src="@artwork.ImageUrl" alt="" "">
            <p>Category: @artwork.Category</p>
            <p>Inventor: @artwork.Inventor</p>
            <p>@artwork.Description</p>
        </div>
    }
</div>