@using Uppfinaren_1._0.Models
@model Artwork

<div class="inventionDemonstation">
<h1>@Model.Title</h1>
<img src="@Model.ImageUrl" alt="" style="width:300px; height: 300px;">
<div>
    <p>Category: @Model.Category</p>
    <p>Creator: @Model.Inventor</p>
    <p>@Model.Description</p>

    <a asp-action="Index" asp-route-category="@Model.Category">Back to the gallery</a>
</div>
</div>
